<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>moveblock0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{48,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>moveblock0001</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{48,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>moveblock0002</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{48,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>moveblock0003</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{48,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>moveblock0004</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{48,48}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>moveblock0005</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{50,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{50,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>moveblock0006</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{50,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{50,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>moveblock0007</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{50,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{50,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>moveblock0008</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{50,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{50,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>moveblock0009</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{50,48}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{50,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>moveblock0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{54,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>moveblock0011</key>
			<dict>
				<key>frame</key>
				<string>{{54,48},{54,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>moveblock0012</key>
			<dict>
				<key>frame</key>
				<string>{{108,48},{54,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>moveblock0013</key>
			<dict>
				<key>frame</key>
				<string>{{162,48},{54,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>moveblock0014</key>
			<dict>
				<key>frame</key>
				<string>{{216,48},{54,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{54,52}}</string>
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>moveblock0015</key>
			<dict>
				<key>frame</key>
				<string>{{270,48},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0016</key>
			<dict>
				<key>frame</key>
				<string>{{324,48},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0017</key>
			<dict>
				<key>frame</key>
				<string>{{378,48},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0018</key>
			<dict>
				<key>frame</key>
				<string>{{432,48},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0020</key>
			<dict>
				<key>frame</key>
				<string>{{54,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0021</key>
			<dict>
				<key>frame</key>
				<string>{{106,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0022</key>
			<dict>
				<key>frame</key>
				<string>{{158,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0023</key>
			<dict>
				<key>frame</key>
				<string>{{210,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0024</key>
			<dict>
				<key>frame</key>
				<string>{{262,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0025</key>
			<dict>
				<key>frame</key>
				<string>{{314,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0026</key>
			<dict>
				<key>frame</key>
				<string>{{366,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0027</key>
			<dict>
				<key>frame</key>
				<string>{{418,102},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0029</key>
			<dict>
				<key>frame</key>
				<string>{{52,156},{52,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>moveblock0030</key>
			<dict>
				<key>frame</key>
				<string>{{104,156},{50,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>moveblock0031</key>
			<dict>
				<key>frame</key>
				<string>{{154,156},{50,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>moveblock0032</key>
			<dict>
				<key>frame</key>
				<string>{{204,156},{50,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>moveblock0033</key>
			<dict>
				<key>frame</key>
				<string>{{254,156},{50,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>moveblock0034</key>
			<dict>
				<key>frame</key>
				<string>{{304,156},{50,50}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>moveblock0035</key>
			<dict>
				<key>frame</key>
				<string>{{354,156},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0036</key>
			<dict>
				<key>frame</key>
				<string>{{408,156},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0038</key>
			<dict>
				<key>frame</key>
				<string>{{54,210},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>moveblock0039</key>
			<dict>
				<key>frame</key>
				<string>{{108,210},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>moveblock.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>moveblock.png</string>
		</dict>
	</dict>
</plist>
